* {
    scroll-behavior: smooth;
}

h1{
    margin-top: 120px;
    font-size: 50px;
    color: green;
}

h2{
    margin-bottom: 30px;
    color: yellowgreen;
    margin-top: -25px;
}

h1, h2{
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
}

body.scroll-up .arrow-up-button {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    padding: 25px 0;
    z-index: 1000;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navdiv h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}


.navdiv ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navdiv li {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px
}

.navdiv li:last-child {
    margin-right: 0;
}

.navdiv li:first-child {
    margin-left: 0;
}

.navdiv li a {
    color: white;
    text-decoration: none;
    font-size: 17.5px;
    font-weight: bold;
}

.navdiv li a:hover {
    color: #aef0a2;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(Profile.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: calc(25% - 10px);
    margin-top: 7.5px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    margin-bottom: 7.5px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.extended-view {
    display: none;
    position: fixed;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid blanchedalmond;
    background-color: aliceblue;
    max-width: 90%;
    z-index: 999;
    box-shadow: 0 0 50px rgb(0, 0, 0);
}

.extended-view.active {
    display: block;
}

.extended-content {
    display: flex;
    align-items: center;
    overflow: auto;
}

.extended-content img {
    width: 50%;
    border-radius: 10px;
    float: left;
}

.details {
    width: 40%;
    padding-left: 20px;
}

.thumbnail.active+.extended-view {
    display: block;
}

.blurred {
    filter: blur(4px);
}

.close-button {
    position: absolute;
    font-size: 10px;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: grey;
}

.arrow-up-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.arrow-up-button img {
    width: 20px;
    height: 20px;
}

#backgroundOptions {
    position: absolute;
    top: 130px;
    right: 20px;
    z-index: 100;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#backgroundOptions select, option {
    cursor: pointer;
    font-size: 8px;
}


 #fontSizeOptions {
    position: absolute;
    top: 130px;
    left: 27.5px;
    z-index: 100;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#fontSizeOptions select, option {
    cursor: pointer;
    font-size: 8px;
} 

#fontFamilyOptions {
    position: absolute;
    top: 130px;
    left: 150px;
    z-index: 100;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#fontFamilyOptions select, option {
    cursor: pointer;
    font-size: 8px;
} 

footer{
  background-color: black;
  margin-top: 15px;
}
.footerContainer{
  width: 100%;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 20px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 15px;
  color: black;
  opacity: 0,9;
}

.socialIcons a:hover{
  background-color: black;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}


.socialIcons1 a:hover{
  background-color: black;
  transition: 0.5s;
}
.socialIcons1 a:hover i{
  color: white;
  transition: 0.5s;
}


.footerNav{
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin-top: 70px;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #1f361d;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;  
  
}
.footerBottom p, a{
  color: white;
  font-size: 10px;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  color: #94d292;
}


.footerNav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footerNav li {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px
}

.footerNav li:last-child {
    margin-right: 0;
}

.footerNav li:first-child {
    margin-left: 0;
}